*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box
}
body{
      background-color: rgba(5, 4, 4, 0.555);
}



span{
    word-spacing: 20px;
    opacity: 0;
    display: inline-block;
    transform: translateX(500px);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transform: translateX(500px);
    -moz-transform: translateX(500px);
    -ms-transform: translateX(500px);
    -o-transform: translateX(500px);
}
.fade{
 opacity: 1;
 transform: translateX(0px);
 word-spacing: 20px;
 -webkit-transform: translateX(0px);
 -moz-transform: translateX(0px);
 -ms-transform: translateX(0px);
 -o-transform: translateX(0px);
}
p{
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    color: rgba(255, 255, 255, 0.747);
    word-spacing: 20px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}